{
  "ExternalCommands": [
    {
      "External_Command_ID": "Start",
      "Chroma_Events": [
        {
          "Chroma_Effect": "Idle_ChromaLink",
          "Idle": "set"
        },
        {
          "Chroma_Effect": "Idle_Headset",
          "Idle": "set"
        },
        {
          "Chroma_Effect": "Idle_Keyboard",
          "Idle": "set"
        },
        {
          "Chroma_Effect": "Idle_Keypad",
          "Idle": "set"
        },
        {
          "Chroma_Effect": "Idle_Mouse",
          "Idle": "set"
        },
        {
          "Chroma_Effect": "Idle_Mousepad",
          "Idle": "set"
        }
      ]
    },
    {
      "External_Command_ID": "Effect1",
      "Chroma_Events": [
        {
          "Chroma_Effect": "Effect1_ChromaLink",
          "Interrupt": false
        },
        {
          "Chroma_Effect": "Effect1_Headset",
          "Interrupt": false
        },
        {
          "Chroma_Effect": "Effect1_Keyboard",
          "Interrupt": false
        },
        {
          "Chroma_Effect": "Effect1_Keypad",
          "Interrupt": false
        },
        {
          "Chroma_Effect": "Effect1_Mouse",
          "Interrupt": false
        },
        {
          "Chroma_Effect": "Effect1_Mousepad",
          "Interrupt": false
        }
      ]
    },
    {
      "External_Command_ID": "Effect2",
      "Chroma_Events": [
        {
          "Chroma_Effect": "Effect2_ChromaLink",
          "Interrupt": false
        },
        {
          "Chroma_Effect": "Effect2_Headset",
          "Interrupt": false
        },
        {
          "Chroma_Effect": "Effect2_Keyboard",
          "Interrupt": false
        },
        {
          "Chroma_Effect": "Effect2_Keypad",
          "Interrupt": false
        },
        {
          "Chroma_Effect": "Effect2_Mouse",
          "Interrupt": false
        },
        {
          "Chroma_Effect": "Effect2_Mousepad",
          "Interrupt": false
        }
      ]
    },
    {
      "External_Command_ID": "Effect3",
      "Chroma_Events": [
        {
          "Chroma_Effect": "Effect3_ChromaLink",
          "Interrupt": false
        },
        {
          "Chroma_Effect": "Effect3_Headset",
          "Interrupt": false
        },
        {
          "Chroma_Effect": "Effect3_Keyboard",
          "Interrupt": false
        },
        {
          "Chroma_Effect": "Effect3_Keypad",
          "Interrupt": false
        },
        {
          "Chroma_Effect": "Effect3_Mouse",
          "Interrupt": false
        },
        {
          "Chroma_Effect": "Effect3_Mousepad",
          "Interrupt": false
        }
      ]
    },
    {
      "External_Command_ID": "Effect4",
      "Chroma_Events": [
        {
          "Chroma_Effect": "Effect4_ChromaLink",
          "Interrupt": false
        },
        {
          "Chroma_Effect": "Effect4_Headset",
          "Interrupt": false
        },
        {
          "Chroma_Effect": "Effect4_Keyboard",
          "Interrupt": false
        },
        {
          "Chroma_Effect": "Effect4_Keypad",
          "Interrupt": false
        },
        {
          "Chroma_Effect": "Effect4_Mouse",
          "Interrupt": false
        },
        {
          "Chroma_Effect": "Effect4_Mousepad",
          "Interrupt": false
        }
      ]
    },
    {
      "External_Command_ID": "Effect5",
      "Chroma_Events": [
        {
          "Chroma_Effect": "Effect5_ChromaLink",
          "Interrupt": false
        },
        {
          "Chroma_Effect": "Effect5_Headset",
          "Interrupt": false
        },
        {
          "Chroma_Effect": "Effect5_Keyboard",
          "Interrupt": false
        },
        {
          "Chroma_Effect": "Effect5_Keypad",
          "Interrupt": false
        },
        {
          "Chroma_Effect": "Effect5_Mouse",
          "Interrupt": false
        },
        {
          "Chroma_Effect": "Effect5_Mousepad",
          "Interrupt": false
        }
      ]
    },
    {
      "External_Command_ID": "Effect6",
      "Chroma_Events": [
        {
          "Chroma_Effect": "Effect6_ChromaLink",
          "Interrupt": false
        },
        {
          "Chroma_Effect": "Effect6_Headset",
          "Interrupt": false
        },
        {
          "Chroma_Effect": "Effect6_Keyboard",
          "Interrupt": false
        },
        {
          "Chroma_Effect": "Effect6_Keypad",
          "Interrupt": false
        },
        {
          "Chroma_Effect": "Effect6_Mouse",
          "Interrupt": false
        },
        {
          "Chroma_Effect": "Effect6_Mousepad",
          "Interrupt": false
        }
      ]
    },
    {
      "External_Command_ID": "Effect7",
      "Chroma_Events": [
        {
          "Chroma_Effect": "Effect7_ChromaLink",
          "Interrupt": false
        },
        {
          "Chroma_Effect": "Effect7_Headset",
          "Interrupt": false
        },
        {
          "Chroma_Effect": "Effect7_Keyboard",
          "Interrupt": false
        },
        {
          "Chroma_Effect": "Effect7_Keypad",
          "Interrupt": false
        },
        {
          "Chroma_Effect": "Effect7_Mouse",
          "Interrupt": false
        },
        {
          "Chroma_Effect": "Effect7_Mousepad",
          "Interrupt": false
        }
      ]
    },
    {
      "External_Command_ID": "Effect8",
      "Chroma_Events": [
        {
          "Chroma_Effect": "Effect8_ChromaLink",
          "Interrupt": false
        },
        {
          "Chroma_Effect": "Effect8_Headset",
          "Interrupt": false
        },
        {
          "Chroma_Effect": "Effect8_Keyboard",
          "Interrupt": false
        },
        {
          "Chroma_Effect": "Effect8_Keypad",
          "Interrupt": false
        },
        {
          "Chroma_Effect": "Effect8_Mouse",
          "Interrupt": false
        },
        {
          "Chroma_Effect": "Effect8_Mousepad",
          "Interrupt": false
        }
      ]
    },
    {
      "External_Command_ID": "Effect9",
      "Chroma_Events": [
        {
          "Chroma_Effect": "Effect9_ChromaLink",
          "Interrupt": false
        },
        {
          "Chroma_Effect": "Effect9_Headset",
          "Interrupt": false
        },
        {
          "Chroma_Effect": "Effect9_Keyboard",
          "Interrupt": false
        },
        {
          "Chroma_Effect": "Effect9_Keypad",
          "Interrupt": false
        },
        {
          "Chroma_Effect": "Effect9_Mouse",
          "Interrupt": false
        },
        {
          "Chroma_Effect": "Effect9_Mousepad",
          "Interrupt": false
        }
      ]
    },
    {
      "External_Command_ID": "Effect10",
      "Chroma_Events": [
        {
          "Chroma_Effect": "Effect10_ChromaLink",
          "Interrupt": false
        },
        {
          "Chroma_Effect": "Effect10_Headset",
          "Interrupt": false
        },
        {
          "Chroma_Effect": "Effect10_Keyboard",
          "Interrupt": false
        },
        {
          "Chroma_Effect": "Effect10_Keypad",
          "Interrupt": false
        },
        {
          "Chroma_Effect": "Effect10_Mouse",
          "Interrupt": false
        },
        {
          "Chroma_Effect": "Effect10_Mousepad",
          "Interrupt": false
        }
      ]
    },
    {
      "External_Command_ID": "Effect11",
      "Chroma_Events": [
        {
          "Chroma_Effect": "Effect11_ChromaLink",
          "Interrupt": false
        },
        {
          "Chroma_Effect": "Effect11_Headset",
          "Interrupt": false
        },
        {
          "Chroma_Effect": "Effect11_Keyboard",
          "Interrupt": false
        },
        {
          "Chroma_Effect": "Effect11_Keypad",
          "Interrupt": false
        },
        {
          "Chroma_Effect": "Effect11_Mouse",
          "Interrupt": false
        },
        {
          "Chroma_Effect": "Effect11_Mousepad",
          "Interrupt": false
        }
      ]
    },
    {
      "External_Command_ID": "Effect12",
      "Chroma_Events": [
        {
          "Chroma_Effect": "Effect12_ChromaLink",
          "Interrupt": false
        },
        {
          "Chroma_Effect": "Effect12_Headset",
          "Interrupt": false
        },
        {
          "Chroma_Effect": "Effect12_Keyboard",
          "Interrupt": false
        },
        {
          "Chroma_Effect": "Effect12_Keypad",
          "Interrupt": false
        },
        {
          "Chroma_Effect": "Effect12_Mouse",
          "Interrupt": false
        },
        {
          "Chroma_Effect": "Effect12_Mousepad",
          "Interrupt": false
        }
      ]
    },
    {
      "External_Command_ID": "Effect13",
      "Chroma_Events": [
        {
          "Chroma_Effect": "Effect13_ChromaLink",
          "Interrupt": false
        },
        {
          "Chroma_Effect": "Effect13_Headset",
          "Interrupt": false
        },
        {
          "Chroma_Effect": "Effect13_Keyboard",
          "Interrupt": false
        },
        {
          "Chroma_Effect": "Effect13_Keypad",
          "Interrupt": false
        },
        {
          "Chroma_Effect": "Effect13_Mouse",
          "Interrupt": false
        },
        {
          "Chroma_Effect": "Effect13_Mousepad",
          "Interrupt": false
        }
      ]
    },
    {
      "External_Command_ID": "Effect14",
      "Chroma_Events": [
        {
          "Chroma_Effect": "Effect14_ChromaLink",
          "Interrupt": false
        },
        {
          "Chroma_Effect": "Effect14_Headset",
          "Interrupt": false
        },
        {
          "Chroma_Effect": "Effect14_Keyboard",
          "Interrupt": false
        },
        {
          "Chroma_Effect": "Effect14_Keypad",
          "Interrupt": false
        },
        {
          "Chroma_Effect": "Effect14_Mouse",
          "Interrupt": false
        },
        {
          "Chroma_Effect": "Effect14_Mousepad",
          "Interrupt": false
        }
      ]
    },
    {
      "External_Command_ID": "Effect15",
      "Chroma_Events": [
        {
          "Chroma_Effect": "Effect15_ChromaLink",
          "Interrupt": false
        },
        {
          "Chroma_Effect": "Effect15_Headset",
          "Interrupt": false
        },
        {
          "Chroma_Effect": "Effect15_Keyboard",
          "Interrupt": false
        },
        {
          "Chroma_Effect": "Effect15_Keypad",
          "Interrupt": false
        },
        {
          "Chroma_Effect": "Effect15_Mouse",
          "Interrupt": false
        },
        {
          "Chroma_Effect": "Effect15_Mousepad",
          "Interrupt": false
        }
      ]
    }
  ]
}